<%- include('../partials/header') %>

<form autocomplete="off">

  <label>Date</label>
  <input type="text" placeholder="YYYY-MM-DD" required>

  <label>Description</label>
  <input type="text" placeholder="Short Description" required>

  <label>Amount</label>
  <input type="text" placeholder="X.XX" required>
  <small>Do not enter a $ Sign</small>

  <button>Save Expense</button>
</form>

<%- include('../partials/footer') %>
