<%- include('../partials/header') %>

<form action="/expenses" method="POST" autocomplete="off">

  <label>Date</label>
  <input type="text" name="date" placeholder="YYYY-MM-DD" required>

  <label>Description</label>
  <input type="text" name="description" placeholder="Short Description" required>

  <label>Amount</label>
  <input type="text" name="amount" placeholder="X.XX" required>
  <small>Do not enter a $ Sign</small>

  <button type="submit">Save Expense</button>
</form>

<%- include('../partials/footer') %>
